
.container {
  width: 100%;
  background-color: rgb(209, 209, 201);
}
.search-bar {
  font-family: 'Open Sans', sans-serif;
  color: $light-gray;
  height: 75px;
  width: 100%;
  background-color: $dark-gray;
  display: flex;
  // justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 10px;
  @media (max-width:$brk-1) {
    display: none;
  }
  .search-left {
    display: flex;
    width: 60%;
    padding-left: 65px;
    h3 {
      cursor: pointer;
      padding-right: 35px;
      transition: color 0.2s ease-in;
      &:nth-of-type(4) {
        border-right: 1px solid #FFF;
        padding-right: 18px;
      }
      &:nth-of-type(5) {
        padding-right: 0;
        padding-left: 17px;
        color: $orange;
        &:hover {
          background-color: $light-gray;
          color: #fff;
        }
      }
    }
    h3:hover {
      color:#fff;
    }
    span {
      font-size: 10px;
      color: $light-gray;
      &:hover {
        color: #fff;
      }
    }
  }
  .search-right {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding-right: 65px;
    font-size: 1.2em;
    font-weight: bolder;
    cursor: pointer;
    h2{
      padding-right: 10px;
    }
  }
}
.rafting {
  float: left;
  cursor: pointer;
  width: 50%;
  height: 400px;
  background: url(../img/raft.jpg) center center no-repeat;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  @media (max-width:$brk-1) {
    width: 100%;
  }
  @media (max-width:$brk-2) {
    float: none;
    height: 275px;
    width: 90%;
    margin: 50px auto;
  }
}
.base-camp {
  float: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  @extend %reset;
  width: 25%;
  height: 400px;
  background: url(../img/basecamp.jpg) center center no-repeat;
  background-size: cover;
  @media (max-width:$brk-1) {
    width: 50%;
  }
  @media (max-width:$brk-2) {
    float: none;
    height: 275px;
    width: 90%;
    margin: 50px auto;
  }
}
.backpacking {
  float: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  @extend %reset;
  width: 25%;
  height: 400px;
  background: url(../img/backpacking.jpg) center center no-repeat;
  background-size: cover;
  @media (max-width:$brk-1) {
    width: 50%;
  }
  @media (max-width:$brk-2) {
    float: none;
    height: 275px;
    width: 90%;
    margin: 50px auto;
  }
}
.canoe {
  float: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  @extend %reset;
  width: 25%;
  height: 400px;
  background: url(../img/canoe.jpg) center center no-repeat;
  background-size: cover;
  @media (max-width:$brk-1) {
    width: 50%;
  }
  @media (max-width:$brk-2) {
    float: none;
    height: 275px;
    width: 90%;
    margin: 50px auto;
  }
}
.photography {
  float: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  @extend %reset;
  width: 25%;
  height: 400px;
  background: url(../img/photo.jpg) center center no-repeat;
  background-size: cover;
  @media (max-width:$brk-1) {
    width: 50%;
  }
  @media (max-width:$brk-2) {
    float: none;
    height: 275px;
    width: 90%;
    margin: 50px auto;
  }
}
.custom {
  float: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  @extend %reset;
  width: 50%;
  height: 400px;
  background: url(../img/custom.jpg) center center no-repeat;
  background-size: cover;
  @media (max-width:$brk-1) {
    width: 100%;
  }
  @media (max-width:$brk-2) {
    float: none;
    height: 275px;
    width: 90%;
    margin: 50px auto;

  }
}
.trip {
  align-self: flex-start;
  margin: 1% 0 4% 4%;
  font-size: 1.5em;
}
.border-top {
  width: 50px;
  margin-bottom: 15%;
  border-top: 5px solid $orange;
}
object {
  width:80px;
  height: 80px;
  align-self: center;
  cursor: pointer;
  background-color: $dark-gray;
  padding: 15px;
  border-radius: 50%;
  opacity: 0.7;
  transition: transform 0.3s ease-in;
}
.container {
  div:hover object {
    transform: scale(1.4);
  }
}
