header {
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 100%;
  background: url(../img/arctic.jpg) right center no-repeat;
  @media (max-width:$brk-1) {
    height: 500px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 50px;
    // width: 100%;
    height: 100px;
    color: white;
    div {
      display: flex;
    }
    h1 {
      font-weight: bolder;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 2.0em;
    }
    h3 {
      padding: 0 10px;
    }
  }
  .header-center {
    display: flex;
    flex-direction: column;
    height: 300px;
    align-self: center;
    text-align: center;
    margin: auto;
    img {
      height: 100px;
      width: 40%;
      align-self: center;
    }
    h1 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 5em;
      padding-bottom: 20px;
    }
    h2 {
      font-size: 1.2em;
      padding-bottom: 10px;
    }
  }
}
.small {
  display: none;
  @media (max-width:$brk-1) {
    display: block;
    font-size: 2.0em;
  }
}
.big {
  @media (max-width:$brk-1) {
    display: none;
  }
}

.bottom-border {
  align-self: center;
  height: 10px;
  width: 50%;
  text-align: center;
  border-bottom: 5px solid #fff;
}
