header {
  display: flex;
  flex-direction: column;
  height: 620px;
  width: 100%;
  background: url(../img/arctic.jpg) right center no-repeat;
  @media (max-width:$brk-1) {
    height: 500px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 65px;
    height: 100px;
    color: white;
    div {
      display: flex;
    }
    h1 {
      font-weight: bolder;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 2.0em;
    }
    h3 {
      padding: 0 18px;
      cursor: pointer;
      &:nth-of-type(7) {
        padding-right: 0;
      }
    }
  }
  .header-center {
    display: flex;
    flex-direction: column;
    height: 400px;
    align-self: center;
    text-align: center;
    margin: auto;
    img {
      height: 100px;
      width: 30%;
      align-self: center;
    }
    h1 {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 7em;
      padding-bottom: 20px;
    }
    h2 {
      font-size: 1.5em;
      padding-bottom: 10px;
    }
  }
}
.small {
  display: none;
  @media (max-width:$brk-1) {
    display: block;
    font-size: 2.0em;
  }
}
.big {
  @media (max-width:$brk-1) {
    display: none;
  }
}

.bottom-border {
  align-self: center;
  height: 10px;
  width: 50%;
  text-align: center;
  border-bottom: 5px solid #fff;
  margin-bottom: 10px;
}
.play {
  width: 35%;
  margin-top: 20px;
  align-self: center;
  a {
    padding: 25px;
    cursor: pointer;
    text-decoration: none;
    color: $orange;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 0.5;
    width: 100px;
    height: 100px;
    font-size: 1.5em;
    transition: all 0.7s ease-in-out;
  }
  a:hover {
    padding: 40px;
    font-size: 2.5em;
    opacity: 0.8;
    overflow: hidden;


  }
  h4 {
    padding: 15px;
    background-color: $orange;
  }
}
