*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: 'Fjalla One', sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;
  color: #FFF;
}
